<div class="container">
  <h1> <a href="/">chs.xyz</a> </h1>
  <p class="tagline">Free Multiplayer Chess In Your Browser</p>
  <h2>Lobby</h2>
  <h4> The following games are waiting for opponents. <br>
  Select a game below, or create a <a href="/new">New Game</a></h4>

  <ul class="lobby-list">
    <section class="live">
      <% @boards.each do |board| %>
        <a href="/<%= board.slug %>">
          <li class="one-third column <%= board.has_player_waiting == 'white' ? 'black' : 'white' %>">
            <span class="<%=board.has_player_waiting%>-knight icon"></span>
            <span class="slug"><%= board.slug %></span>
            <span class="tag">play as <%= board.has_player_waiting %></span>
          </li>
        </a>
      <% end %>
    </section>
    <a href="/new">
      <li class="one-third column new  <%= (@boards.length == 0 ? 'offset-by-one-third' : '' ) %>">
        <span class="tag">New Game</span>
      </li>
    </a>
  </ul>

  <div class="clear"></div>

  <h4 class="twt-space"> You can also follow @<a href="https://twitter.com/chsxyz">chsxyz</a> on Twitter for the latest available chess games to play on <a href="http://chs.xyz">chs.xyz</a>.</h4>
</div>

<%= javascript_include_tag "lobby" %>